@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Never gonna give you up </p>
<p>Never gonna let you down</p>
<p>Never gonna run around and desert you</p>
